:root {
  
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  height: calc(100svh - 1rem);
  display: grid;
  place-items: center;
}
p {
  text-align: center;
}
canvas {
  display: block;
  margin: 2rem auto;
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}
@media (prefers-color-scheme: dark) {
  * {
    background: #111;
    color: #eee;
  }
  canvas {
    background-color: #0e0e0e;
    border-color: #2c2c2c;
  }
}
